img
{
  width: 200px;
}

body
{
 background-color: #f39189;
}

hr
{
  width: 700px;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  background-color: #f39189;
  border-color:#810000;

}
